/*Pantalla de bienvenida desktop*/

.hide-desktop-section {
  position: absolute;
  bottom: 1em;
  right: 3em;
  top: 3em;
}

/* .hidePresentation {
    display: none;
} */

.img-fondo-desktop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.card-desktop {
  background-color: transparent;
  border-color: transparent;
}

.card-img-top {
  height: auto;
  width: 50%;
}

.btn-principal {
  width: 150px;
  font-size: 18px;
  margin: 10px;
}

.cabecera {
  background-color: #e9b000;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}

.boxData {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.btn {
  border-radius: 30px;
  color: black;
}

section {
  display: flex;
  justify-content: center;
}

.btn-primary {
  border-radius: 15px;
  background-color: #e9b000;
  border-color: #e24e42;
}

.card-body {
  text-align: center;
}

.btn-social {
  border-radius: 20px;
  font-size: 15px;
  width: 200px;
  height: 40px;
  border-color: #e24e42;
  background-color: white;
}

.img-social {
  width: 25px;
  height: 25px;
}

h5 {
  font-family: "Gidole";
  font-size: 30px;
}

.btn-secondary {
  width: 250px;
  background-color: #b1b9ad;
}

.cabecera2 {
  background-color: #e24e42;
  width: 100%;
  height: 60px;
  text-align: center;
  color: white;
}

.line-logo {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.decorate {
  color: black;
  background-color: black;
  border-color: black;
  height: 5%;
  width: 30%;
  size: 5px;
}

.mail-pass {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.btn-send {
  width: 100px;
  border-radius: 20px;
  background-color: #e9b000;
  border-color: #e24e42;
}

/* barra de inicio */

#img-avatar {
    width: 10%;
    border-radius: 50%;
}
#perfil-avatar {
    width: 55%;

}

.publicaciones {
    box-sizing: border-box;
    width: 50%;
    border-radius: 10px;
    background: #008F95;
    padding: 20px;
    margin:10px;
}

.tablero {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  align-items: center;
    width: 100%
}


#post-area {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.fa-bell {
  color: #e9b000;
}

.navbar {
  background-color: #e24e42 !important;
}

.navbar2 {
  background-color: #e9b000 !important;
}

.btn-publicar {
  border-radius: 20px;
  width: 100px;
  height: 40px;
  background-color: #008F95;
  border-color: transparent;
}

.fa-bell2 {
  color: #e24e42;
}

.card-header {
  align-content: space-between;
}

.bg-primary {
  background-color: #ae80da !important;
}


.btn-reaction {
  border-radius: 0px;
  width: 100px;
  height: 40px;
  background-color: #008F95;
  border-color: transparent;
}

